// Viewports

$mobile-width: 375px;
$only-mobile-width: 767px;
$mobile2-width: 768px;
$tablet-width: 1024px;
$laptop-width: 1360px;
$laptop-large-width: 1600px;
$desktop-small-width: 1760px;

//Colors

$back-color-main: #ffffff;
$back-color-header: #111417;
$shadow-color: rgba(90, 90, 90, 0.25);
$text-color-main: #000000;
$text-color-secondary: #ffffff;
$text-color-third: #d3b47f;
$hover-color: rgba(255, 255, 255, 0.6);
$button-color: #3a4574;
$button-hover-color: #282e50;
$line-color: #cecece;
$decor-color: #d3b47f;
$line-color-secondary: #e7e7e7;
$back-color-reviews: #3a4574;
$modal-color: rgba(0, 0, 0, 0.3);
$modal-line-color: #3b3b3b;
$input-back-color: #f2f2f2;

